*{
	margin:0;
	padding:0;
}

table{
	background: linear-gradient(45deg, #c87f0a, black);
	border: 0px solid transparent !important;
    border-radius: 0px 0px 26px 26px;
    max-width: 60rem;
    text-align:center;
    margin:0 auto;
    width:80%;
    overflow: auto;
    box-sizing: border-box;
}

td{
    position: sticky; top: 0;
}

tr:ntn-child(even){
	background-color:lightgray;
}
.container{
	align-items: center;
    justify-content: center;
    display: flex;
    flex: 1;
    flex-direction: column;
}

tbody{
    color: white;
    border-radius: 0 0 26px 26px !important;
    align-items: center;
    font-size: larger;
    letter-spacing: 2px;
    font-weight: bold;
    
}

body{
    overflow: auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
    -moz-appearance: textfield;
}

th{
	width:20%;
}

thead{
    border: 1px solid rgb(90, 90, 90) ;
}
  
.menu{
    display: block;
    color: black !important;
    background-color: gray !important;
    height: 4rem;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-left: 8%;
}

a{
    padding: 10px;
}

.nav-link{
    letter-spacing: 2px;
}

.navbar-nav{
    gap: 2rem;
}

a:hover{
    background-color: darkgray;
    transform: scale(1.1);
}


.corpo{
    background-color: gray;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/Produtos/img/produtos.webp);
}