@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap');

*{
	margin:0;
	padding:0;
	font-family: 'Roboto Slab', serif;
	font-size:16px
}

table{
	background: linear-gradient(45deg, #c87f0a, black);
	border: 0px solid transparent !important;
    border-radius: 0px 0px 26px 26px;
    max-width: 100%;
    text-align:center;
    margin:0 auto;
    width:80%;
    overflow: auto;
    box-sizing: border-box;
}

td{
    position: sticky; top: 0;
    padding-left:15px !important;
    padding-right:15px !important;
}

td .button{
	width:10px !important;
	padding:0 !important;
}

tr:ntn-child(even){
	background-color:lightgray;
}
.container{
	align-items: center;
    justify-content: center;
    display: flex;
    flex: 1;
    flex-direction: column;
}

tbody{
    color: white;
    border-radius: 0 0 26px 26px !important;
    align-items: center;
    font-size: unset;
    font-weight: bold;
    
}

body{
    overflow: auto;
}

th{
	width:20%;
}

thead{
    border: 1px solid rgb(90, 90, 90) ;
}
  
.menu{
    display: block;
    color: black !important;
    background-color: gray !important;
    height: 4rem;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-left: 8%;
}

a{
    padding: 10px;
}

.envia{
	left:35%;
}

.nav-link{
    letter-spacing: 2px;
}

.navbar-nav{
    gap: 2rem;
}

a:hover{
    background-color: darkgray;
    transform: scale(1.1);
}

.detalhesbtn a{
	margin:0
}

.corpo{
    background-color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(img/Produtos.webp);
    background-size:cover;
}